	<div id="me">
		<a href="/">
			<span id="surname">raphael</span>
			<span id="name">fournier</span>
		</a>
	</div>
	<div id="mousing">&nbsp;</div>
	<div class="site">
	
	</div>
	<div id="abouttext">
    <span class="presentation">un peu de texte sur moi</span>
    <br/>
    <a href="http://www.twitter.com/fournier_r">tw</a>
    <a href="http://www.facebook.com/raphael.fournier">fb</a>
    <a href="http://www.linkedin.com/fournier_r">li</a>
  </div>
	<div id="sections">
  <ul>
    <li{% if page.slug == 'home' %} class="active"{% endif %}><a rel="home page" title="home sweet home" href="/">home</a></li>
    <li{% if page.slug == 'about' %} class="active"{% endif %}><a rel="about this" title="what do you want to know?" href="/about/">about</a></li>
    <li{% if page.slug == 'archives' %} class="active"{% endif %}><a rel="browse" title="browse the archives" href="/archives/">archives</a></li>
  </ul>
	</div>


