<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="author" content="Raphael Fournier"/>
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/highlight.css" />
	<link rel="stylesheet" href="/css/vitae.css" />
  <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="handheld" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /><!-- pour IE -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" /><!-- pour les navigateurs standards -->
	
</head>
<body>
	<div id="navigation">
    {% include nav.html %}
  </div> <!-- end navigation --!>
  <div class="content">
    {{ content }}
	</div> <!-- end content --!>
</body>
</html>
