<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="author" content="Raphael Fournier"/>
	<link rel="stylesheet" href="/css/styles.css" />
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-4237681-10']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>

<div id="header">
	<div id="me">
		<a href="/">
			<span id="surname">raphael</span>
			<span id="name">fournier</span>
		</a>
	</div>
	<div id="mousing">&nbsp;</div>
	<div class="site">
	
	</div>
	<div id="abouttext">
    <span class="presentation">un peu de texte sur moi</span>
    <br/>
    <a href="http://www.twitter.com/fournier_r">tw</a>
    <a href="http://www.facebook.com/raphael.fournier">fb</a>
    <a href="http://www.linkedin.com/fournier_r">li</a>
  </div>
	<div id="sections">
    <a href="/about.html">about</a><br/>
    <a href="/about.html">archives</a><br/>
    <a href="/about.html">tags</a><br/>
    <a href="/about.html">research</a><br/>
    <a href="/about.html">teaching</a><br/>
    <a href="/about.html">contact</a><br/>
	</div>

</div>

<body>

	<div id="header">
		
	</div>

	{{ content }}


</body>

</html>
