---
layout: default
slug: blog
---

<div id="post">
  {% include post_header.html %}
  {{ content }}
</div>

{% if page.categories contains 'news' %}
<hr>
<ul>
  {% for post in site.categories['news'] limit:4 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
{% if post.place %}
@ {{ post.place }}
{% endif %}
</li>
  {% endfor %}
      <li><span>before</span> &raquo; <a href="/news.html">all news</a></li>
</ul>
{% endif %}
