---
layout: page
title: Tags
---

{% include taglist.html %}
<hr>
{% for tag in page.tags %}
<h3 class="annee"><a name"{{ tag | replace:' ', '-' | downcase }}"></a>{{ tag }}</h3>
<!--<h3 class="annee"><a name"{{ tag | replace:' ', '-' | downcase }}"></a><a href="/tags/{{ tag | replace:' ', '-' | downcase }}" name="{{ tag | replace:' ','-' | downcase }}">{{ tag }}</a></h3>-->
    <ul class="related">
        {% for post in site.tags[tag] %}
        <li>
          {% include post_item.html %}
        </li>
        {% endfor %}
    </ul>
{% endfor %}
